doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Gulp Js
        link(rel="stylesheet", href="css/main.css")
    body
        .nav.col-12 Navbar
        .aside.col-3 Aside
        .content.col-9
            |Page Content
            hr
            .imgs.col-6
            .imgs.col-6
        .footer.col-12 Footer
        
        script(src="js/main.js")
        script(src="http://localhost:35729/livereload.js?snipver=1")